@import 'variables/variables.scss';

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

body {

}

h1 {
    text-align: center;
    font-weight: bold !important;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 51%, rgba(11,8,125,1) 85%, rgba(12,6,129,1) 100%);
    padding: 15px;
    color: white;
    margin-bottom: 0px !important
}

h3 {
    color: white;
}

.capitanes-section {
    background-image: url(../imagenes/capsBG.jpg);
    background-position: 0 1100.209px;
    border-bottom: 1px solid white;
    p {
        color: white;
    }
    .capitanes-container {
        .img_caps-container {
            width: 25%;
            padding: 15px;
            height: 580px;
            @media screen and (max-width: 480px) {
                //height: auto;
            }
            :hover {
                transform: scale(1.123);
                transition: all .7s;
            }
            
            p {
                padding: 30px;
                background-color: black;
            }

            img {
                width: 100%;
                height: 70%;
                object-fit: contain;
            }

            button {
                margin-top: 5px;
                background-color: transparent;
                padding: 5px;
                color: white;
                border: none;
                border-bottom: 1px solid white;
               :hover {
                   background-color: rgba(11,8,125,1);
                   transition: all .5s;
               }
            }
        } 
    }
}

h2 {
    color: white;
    padding: 10px;
    margin-bottom: 0px !important;
    background-color: #0b087d;;
}

.row {
    background-image: url(../imagenes/soccerBG.jpg);
    background-position: 0 1100.209px;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px !important;
    div {
        padding: 0
    }
}

.puntaje-container {
 @extend %posiciones-formaciones;
    border: 1px solid white;
    height: 100%
}

.formacion-container {
@extend  %posiciones-formaciones;
    border: 1px solid white;
    height: 100%;
}

.capitanElegido-div {
    background-color: #0b087d;
    border: 1px solid white;
    .currentCap{
        h3{
            overflow: hidden;
        }
        p{
        color: white;
    }
    }
}

.planillaFutbol-container {
    text-align: center;
    padding: 5px;
    
}

h4 {
    color: white;
    font-weight: bold !important;
    overflow: hidden;
}

.jugador-container {
    width: 100%;
    img {
        height: 350px;
        width: 275px;
        cursor: pointer;
        
    }
}

/*.createPlayer-form {
    background-color: #0b087d;;
}*/