@import 'variables/variables.scss';

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {

}

h1 {
    text-align: center;
    font-weight: bold !important;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 51%, rgba(11,8,125,1) 85%, rgba(12,6,129,1) 100%);
    padding: 15px;
    color: white;
    margin-bottom: 0px !important
}

h3 {
    color: white;
}

.capitanes-section {
    background-image: url(../imagenes/capsBG.jpg);
    background-position: 0 1100.209px;
    border-bottom: 1px solid white;
    p {
        color: white;
    }
    .capitanes-container {
        .img_caps-container {
            width: 25%;
            :hover {
                transform: scale(1.12);
                transition: all .7s;
            }
            
            img {
                width: 100%;
                height: 75%;
                object-fit: contain;
            }
        } 
    }
}

h2 {
    color: white;
    padding: 10px;
    margin-bottom: 0px !important;
    background-color: #0b087d;;
}

.row {
    background-image: url(../imagenes/soccerBG.jpg);
    background-position: 0 1100.209px;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px !important;
    div {
        padding: 0
    }
}

.puntaje-container {
 @extend %posiciones-formaciones;
    right: 0;
    border-top: none;
    border: 1px solid white;
    border-radius: 0px 15px 0px 0px;
}

.formacion-container {
@extend  %posiciones-formaciones;
    border: 1px solid white;
    width: 50%;
    border-radius: 0px 15px 15px 0px;
}

.planillaFutbol-container {
    text-align: center;
}

h4 {
    color: white;
    font-weight: bold !important;
}

.jugador-container {
    width: 100%;
    img {
        height: 350px;
        width: 275px;
        cursor: pointer;
        
    }
}