@import 'variables/variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {

}

h1 {
    text-align: center;
    border: 1px solid white;
    background-color: black;
    padding: 15px;
    color: white
}

.capitanes-section {
    background-image: url(../imagenes/capsBG.jpg);
    background-position: 0 1100.209px;
    border-bottom: 1px solid white;
    .capitanes-container {
        .img_caps-container {
            width: 25%;
            :hover {
                transform: scale(1.12);
                transition: all .7s;
            }
            
            img {
                width: 100%;
                height: 75%;
                object-fit: contain;
            }
        } 
    }
}

h2 {
    color: white;
    background-color: gray;
    padding: 10px;
    margin-bottom: 0px !important;
}

.row {
    background-image: url(../imagenes/soccerBG.jpg);
    background-position: 0 1100.209px;
    background-attachment: fixed;
    background-size: cover;
    div {
        padding: 0
    }
}

.puntaje-container {
 @extend %posiciones-formaciones;
    right: 0;
    border-top: none;
    border: 1px solid white;
    border-radius: 0px 0px 0px 15px;
}

.formacion-container {
@extend  %posiciones-formaciones;
    float: right;
    border: 1px solid white;
    width: 50%;
    border-radius: 15px 0px 0px 15px;
}

.planillaFutbol-container {
    text-align: center;
}

.jugadores-container {
    background-color: gray;
    width: 100%;
    div {
        height: 50px;
        width: 200px;
        margin-bottom: 10px;
        background-color: black;
        cursor: pointer;

    }
}