%posiciones-formaciones {
    position: absolute;
    background-color: rgb(219, 156, 85);
    ul {
        li{
        color: white;
        margin: 15px;
        list-style: none;
        border-bottom: 1px solid white;
        font-size: 20px;
        }
    }
}