%posiciones-formaciones {
    position: relative;
    background-color: #0b087d;
    margin-bottom: 25px;
    ul {
        li{
        color: white;
        margin: 15px;
        list-style: none;
        border-bottom: 1px solid white;
        font-size: 20px;
        }
    }
}